@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #fffffe;
}

.app {
  background-color: #232946;
  color: #b8c1ec;
  min-height: 100vh;
}